.main{
    max-height: 100vh;
    margin-left: 117px;
    padding: 68px 90px 86px 75px;
}

#layout{
    border: 1px solid black;
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 92%, rgba(210, 85, 85, 1) 100%);
}

.buttonLayout{
    width: 180px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}