#lineChart{
    width: 258px ;
    height: 263px;
    border-radius: 5px;
    background-color: red;
}

.xAxis{
    stroke-opacity: 0;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    line-height: 24px;
    /* opacity: 0.5; */
    width: 50px;
}

#text{
    font-size: 12px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

