#lineChart{
    width: 258px ;
    height: 263px;
    min-width: 258px;
    min-height: 263px;
    max-width: 258px;
    max-height: 263px;
    border-radius: 5px;
    background-color: red;
    position: relative;
}

#lineChart::after {
    content: 'Durée moyenne des sessions';
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-weight: 500;
    opacity: 0.7;
    color: white;

    width: 145px;
    position: absolute;
    top: 30px;
    left: 34px;
}

.xAxis{
    stroke-opacity: 0;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    line-height: 24px;
    /* opacity: 0.5; */
    width: 50px;
}

#text{
    font-size: 12px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

