#barChart{
    width: 820px;
    height: 320px;
    background-color: #FBFBFB;
}

@media screen and (max-width: 1100px){
    #barChart {
        width: 700px;
    }
}

@media screen and (max-width: 950px) {
    #barChart {
        width: 400px;
    }
}

.yAxis {
    stroke-opacity: 0;
    color: #9B9EAC;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    /* opacity: 0.5; */
    /* width: 50px; */
}

.xAxis {
    /* stroke-opacity: 0; */
    color: #9B9EAC;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    /* opacity: 0.5; */
    /* width: 50px; */
}


.info-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
}

.text-legend{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #74798C;
    opacity: 0.7;
}

.title-legend{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
}