.title h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
}
.title h1 > span {
    color: #FF0101;
}
.title p{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
}

@media screen and (min-width: 1600px) {
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}