.navStyle {
    background-color: #020203;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav1 {
    composes: navStyle
}

.nav1 ul{
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0px 90px 0 30px;
}  

.nav1 img {
    width: 180px;
    height: 60px;
}

.nav1 li:not(:first-child) > a {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: white;
}



.inactive {
    color: red;
    text-decoration: none;
}

.active{
    text-decoration: underline;
    color: red;
}

.nav2{
    composes: navStyle;
    width: 117px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.nav2 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}






.nav2 p {
    width: max-content;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10%;
}


